<% include admin_partials/head.ejs %>

<div id="wrapper">
    <% include admin_partials/after-header.ejs %>
    
    <main>
        <h1>Velkommen</h1>
    </main>

    <% include admin_partials/after-footer.ejs %>
</div>