<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<script>
	const cssLoader = function (stylesheet) {
	const link = document.createElement('link');
	link.setAttribute('rel', 'stylesheet');
	link.setAttribute('type', 'text/css');
	link.setAttribute('href', stylesheet);
	document.getElementsByTagName('head')[0]
		.appendChild(link);
	};

	document.addEventListener('DOMContentLoaded', () => {
		cssLoader('/stylesheets/main.css');
	});
	</script>
	<noscript>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	</noscript>
</body>
</html>