<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="En basal kodebase til nodejs/express projekter">
	<title>Kage er godt</title>
	<link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>