body{
    margin: 0;
    background-color: rgb(233, 233, 233);
}

#mini_wrapper{
    display: flex;
    justify-content: space-between;
}
.annonce img{
    width: 12vw;
}
.forside{
    text-align: center;
}
.forside img{
    width: 50em;
}