.rooms{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lokaler{
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.lokaler img, .lokale img{
    width: 300px
}

