<% include partials/head.ejs %>
<% include partials/after-header.ejs %>
<div id="mini_wrapper">
    <main class="room">
        <div class="lokale">
            <h2>Tak fordi du har booket <%= results.room_name %></h2>
            <img src="../../<%=results.room_img %>" alt="yes">
        </div>
    </main>
</div>
<% include partials/after-footer.ejs %>