<header>
    <nav class="admin_nav">
        <li><a href="/admin">Admin Forside</a></li>
        <li><a href="/admin/sites">Site</a></li>
        <li><a href="/admin/ads">Ads</a></li>
        <li><a href="/admin/rooms">Lokaler</a></li>
        <li><a href="/auth/logout">Log ud</a></li>
    </nav>
</header>